body {
    background-color: rgb(128,174,114);
}

.mother {
    background-image: url("../img/pokemonbg.png");
    background-repeat: repeat-x;
    background-size: contain;
    min-height: 100%;
    min-height: 100svh;
}

@media screen and (max-width: 768px) {
    .btn__search {
        background-color: white;
        color: black;
    }
}
